.browse-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: .15fr .7fr .15fr;
    grid-template-rows: 80px;
    grid-auto-rows: 1fr;
    gap: 20px;
    grid-template-areas: 
    "browseHeader browseHeader browseHeader"
    "genreSidebar results tagSidebar";
}

.browse-container-header {
    grid-area: browseHeader;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
}

.browse-genre-sidebar-small {
    display: none;
    grid-area: genreSidebarSmall;
}

.browse-tag-sidebar-small {
    display: none;
    grid-area: tagSidebarSmall;
}

.small-down-arrow {
    display: inline-block;
    margin-left: 10px;
    transform: translateY(-5px) rotate(45deg);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    width: 10px;
    height: 10px;
}

.animate-arrow-spin {
    animation-name: rotateArrow;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes rotateArrow {
    0% {
        transform: translateY(-5px) rotate(45deg);
    }
    100% {
        transform: translateY(0px) rotate(225deg);
    }
}

.browse-genre-sidebar, .browse-tags-sidebar {
    grid-area: genreSidebar;
    display: flex;
    flex-direction: column;
    background-color: var(--eight);
    color: white;
    padding: 10px;
}

.browse-genre-header, .browse-tags-header {
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
}

.browse-genre-sidebar a {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: bolder;
    cursor: pointer;
}

.browse-genre-sidebar a:hover {
    color: var(--three);
}

.browse-results {
    grid-area: results;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(300px, 1fr));
    gap: 20px;
}

.browse-results-no-posts {
    width: 100%;
    text-align: center;
}

.browse-tags-sidebar {
    grid-area: tagSidebar;
    display: flex;
    flex-direction: column;
}

.browse-tags-sidebar a {
    text-decoration: underline;
}

.browse-tags-sidebar a:hover {
    cursor: pointer;
    color: var(--three);
}

