.post-card-container-container {
    width: 100%;
    display: flex;
    /* grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 30px;
    margin-top: 60px; */
    flex-direction: column;
    position: relative;
}

.post-card-container-container-header {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    color: var(--textDark);
    font-weight: bold;
}

.post-card-container {
    background-color: var(--fifty);
    box-shadow: 0 0 5px var(--three);
    text-align: center;
    padding: 10px;
    color: var(--textDark);
    position: relative;
}

.post-card-container:hover {
    box-shadow: 0 0 6px var(--four);
    cursor: pointer;
}

.post-card-container-section {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 30px;
}

.more-link {
    text-decoration: underline;
    text-align: right;
    cursor: pointer;
}

.post-card-title {
    font-size: 1.4rem;
    font-weight: bolder;
}

.post-card-body {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.post-card-author {
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    height: 20px;
}

.post-card-favorite-icon {
    height: 20px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.post-card-favorite-icon p {
    margin: 0;
    margin-left: 2px;
}

.add-post-form-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: var(--textDark);
}

.add-post-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.add-post-input {
    box-sizing: border-box;
    width: 500px;
    padding-left: 10px;
    font-size: 1rem;
    color: var(--textDark);
}

.add-post-title {
    
}

.add-post-title, .add-post-tags {
    height: 40px;
}

.add-post-body-input-wrapper {
    position: relative;
    width: 500px;
}

.add-post-body-input-default-text {
    position: absolute;
    top: 11px;
    left: 10px;
    font-size: 1.5rem;
    color: var(--textDark);
}

.add-post-body {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    color: var(--textDark);
    font-size: 1.5rem;
    padding-top: 10px;
    height: 400px;
    text-indent: 230px;
}

.add-post-submit-btn {
    width: 500px;
    height: 40px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.post-details-container-header {
    display: none;
}

.post-details-container {
    width: 200px;
    height: fit-content;
    margin-top: 87px;
    margin-left: 20px;
    background-color: var(--eight);
    color: white;
    padding: 10px;
    padding-top: 0;
}

.post-details-container p {
    font-size: 1.1rem;
    font-weight: bolder;
}

.post-details-select {
    width: 100%;
    height: 30px;
    font-size: 1rem;
}

.post-details-textarea {
    width: 100%;
    box-sizing: border-box;
    height: 240px;
    font-size: 1rem;
}

.add-post-submit-btn-small {
    display: none;
}

.post {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-title {
    width: 80%;
    height: 40px;
    background-color: var(--eight);
    font-weight: bolder;
    margin: 25px;
    color: var(--textLight);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.post-title-small {
    background-color: var(--eight);
    color: var(--textLight);
    width: 80%;
    text-align: center;
    font-weight: bolder;
}

.post-likes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 5px;
    width: 150px;
    font-size: 1.2rem;
    color: var(--textLight);
}

.post-likes-count {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post-likes-icons {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.post-likes-icons button {
    background-color: var(--eight);
    border: none;
    color: var(--textLight);
    cursor: pointer;
}

.post-title-small {
    display: none;
}

.post-title-header {
    font-size: clamp(.1rem, 1rem, 1.5rem) !important;
    width: 100%;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
}

.post-delete-btn {
    position: absolute;
    right: 0px;
    top: 0;
    width: 100px;
    align-items: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-delete-btn:hover {
    cursor: pointer;
    color: var(--five);
}

.post-title-sub {
    color: var(--textDark);
    font-size: 1rem;
    margin: 0;
    font-size: 1.1rem;
}

.post-title-sub-author {
    text-decoration: underline;
    cursor: pointer;
}

.post-body {
    width: var(--globalWidth);
    white-space: pre-wrap;
    font-size: 1.3rem;
}

.post-tags {
    width: var(--globalWidth);
    text-align: left;
    cursor: pointer;
}

.tag {
    text-decoration: underline;
}

.post-back-btn {
    align-self: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.post-page-btn  {
    background-color: var(--eight);
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: var(--textLight);
    font-weight: bolder;
    border: 2px solid var(--nine);
}

.post-page-btn:hover {
    background-color: var(--five);
    color: var(--textDark);
    cursor: pointer;
}

.post-comments {
    width: 100%;
    display: grid;
    grid-auto-rows: fit-content;
    gap: 10px;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
}

.comment-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-login-notification {
    font-size: 1.3rem;
    color: var(--textDark);
    text-align: center;
}

.comment-first-notification {
    text-align: center;
    color: var(--textDark);
}

.comment-login-btn:hover {
    cursor: pointer;
    color: var(--seven);
}

.comments-title {
    text-align: center;
    font-weight: bolder;
    color: var(--textDark);
    font-size: 1.2rem;
}

/* .comment-author-input {
    width: 30%;
    height: 30px;
    box-sizing: border-box;
} */

.comment-body-input {
    width: 90%;
    height: 60px;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
}

.comment-submit-btn {
    width: 10%;
    height: 60px;
    box-sizing: border-box;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comment-container {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1rem;
    color: var(--textDark);
    position: relative;
    /* box-shadow: 2px 2px .2rem var(--two); */
}

.comment-delete-btn {
    position: absolute;
}

.comment-left {
    background-color: var(--one);
    text-align: left;
}

.comment-left .comment-delete-btn{
    right: 20px;
}

.comment-right {
    background-color: var(--fifty);
    text-align: right;
}

.comment-right .comment-delete-btn {
    left: 20px;
}

.comment-author {
    font-weight: bold;
}

.comment-author a {
    text-decoration: underline;
    cursor: pointer;
}