.post-card-container-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    gap: 30px;
    margin-top: 60px;
    position: relative;
}

.post-card-container-container-header {
    width: 100%;
    text-align: center;
    top: -70px;
    position: absolute;
    font-size: 1.5rem;
}

.post-card-container {
    background-color: var(--fifty);
    box-shadow: 0 0 5px var(--three);
    text-align: center;
    padding: 10px;
}

.post-card-container:hover {
    box-shadow: 0 0 6px var(--four);
}

.post-card-title {
    font-size: 1.4rem;
    font-weight: bolder;
}

.post-card-body {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.add-post-form-container {
    text-align: center;
    color: var(--textDark)
}

.add-post-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-post-input {
    box-sizing: border-box;
    width: 500px;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 1rem;
}

.add-post-title {
    margin-top: 20px;
}

.add-post-title, .add-post-tags {
    height: 40px;
}

.add-post-body {
    padding-top: 10px;
    height: 400px;
}

.add-post-submit-btn {
    width: 500px;
    height: 40px;
    margin-bottom: 50px;
}

.post {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post h1 {
    text-align: center;
}

.post-delete-btn {
    position: absolute;
    right: 0;
    top: 20px;
}

.post-body {
    width: 75%;
}

.post-back-btn {
    align-self: center;
    margin-bottom: 50px;
}

.post-page-btn  {
    background-color: var(--eight);
    padding: 4px;
    color: var(--textLight);
    font-weight: bolder;
    border: 2px solid var(--nine);
}

.post-page-btn:hover {
    background-color: var(--five);
    color: var(--textDark);
    cursor: pointer;
}

.post-comments {
    width: 100%;
    display: grid;
    grid-template-rows: 40px;
    grid-auto-rows: fit-content;
    gap: 5px;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
}

.comments-title {
    text-align: center;
    font-weight: bolder;
    color: var(--textDark);
    font-size: 1.2rem;
}

.comment-author-input {
    width: 30%;
    height: 30px;
    box-sizing: border-box;
}

.comment-body-input {
    width: 60%;
    height: 30px;
    box-sizing: border-box;
}

.comment-submit-btn {
    width: 10%;
    height: 30px;
    box-sizing: border-box;
}

.comment-container {
    padding: 15px;
}

.comment-left {
    background-color: var(--one);
    text-align: left;
}

.comment-right {
    background-color: var(--fifty);
    text-align: right;
}